C++STL/lista6/ex4example.txt
*c5_pin_model_dump.txt
*output_files/
*simulation/
*db/
*incremental_dv/
FPGA/*/simulation/
FPGA/lista5/
FPGA/lista4/
FPGA/lista3/
FPGA/mnl_avalon_spec-683091-667068.pdf
Uczenie_maszynowe/
*.bak
*.qws
*.qpf
*.out
*.clangd
*.vscode

*.ipynb_checkpoints/
*.csv
*.class
Uczenie_maszynowe/lista1/bank_marketing/
Uczenie_maszynowe/lista1/iris/
Uczenie_maszynowe/lista1/car_evaluation/
Sztuczna_Inteligencja/projekt/nonogram/transformed_nonograms/
Sztuczna_Inteligencja/projekt/storms/transformed_storms/
Sztuczna_Inteligencja/Lista3/
Scala_in_Practice/lista9/lab9/.gitignore
Scala_in_Practice/lista9/lab9/README.md
kurs_C++/
Scala_in_Practice/lista8/secrets.scala
kurs_Linux/lista11/disk.img
kurs_Linux/lista6/zad3/
kurs_Linux/lista8/
hakowanie_dla_kazdego
*Help/
*.user
*.shfbproj
*.csproj
*obj/
*bin/
*binaries*
*.sln
*.vs/
*Attributes.cs
*Info.cs
*.g.cs
*.dll
*.exe
*.pdb
*.obj
*.bin
*.cache
*.log

__pycache__/

Scala_in_Practice/**/.bsp/
Scala_in_Practice/**/.scala-build/

Sztuczna_Inteligencja/Lista2/*
