kurs_Linux/lista8/
hakowanie_dla_kazdego
*Help/
*.user
*.shfbproj
*.csproj
*obj/
*bin/
*binaries*
*.sln
*.vs/
*Attributes.cs
*Info.cs
*.g.cs
*.dll
*.exe
*.pdb
*.obj
*.bin
*.cache
*.log

__pycache__/

Scala_in_Practice/**/.bsp/
Scala_in_Practice/**/.scala-build/

Sztuczna_Inteligencja/Lista2/*
